meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Invoice Validator
link(rel="stylesheet", href="/home.css")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#") INVOICE VALIDATOR
    .collapse.navbar-collapse#myNavbar
      ul.nav.navbar-nav
        li.active
          a(href="#") Home
        li
          a(href="#") Billing
        li
          a(href="#") About us
.container
.formcontainer
    p Hello welcome