.background{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    /* background-image: url('https://img.freepik.com/free-vector/finance-financial-performance-concept-illustration_53876-43398.jpg?w=1380&t=st=1682421443~exp=1682422043~hmac=bbc13031926eb5accbf180d7343ff592c8ff59083334e7e044d2f6f5d387c715'); */
    -webkit-filter: blur(8px);
    filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
   
   .formcontainer{
       display: flex;
       align-items: center;
       height: 60%;
       width: 50%;
       background-color: rgba(224, 224, 224, 0.934);
       border-radius: 2%;
       background-color: rgba(219, 219, 219, 0.4); 
       justify-content: center;
       flex-direction: column;
       border: 3px solid #f1f1f1;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       z-index: 2;
       text-align: center;
      
   }
   .formcontainer:hover{
       box-shadow: 1px 1px 5px rgb(74, 74, 74);  
       
       
   }
p{
       font-weight: bold;
       font-size: 20px;
       font-style: italic;
       text-align: center;
       color: black;

}

input[type="file"]{
    height: 5rem;
    margin: none;
    padding: 1rem;
}

 

 label h2{
    color: rgb(37, 69, 96);
    font-weight:900;
    font-size: 20px;
    font-family:monospace;
    font-style:italic;

    
}
#btn{
    
    border:none;
    border-radius: 20px;
     
    background-color: rgb(0, 131, 237);
    color: white;
    padding :4%;
    font-size: 15px;
    font-weight: 400;
    

    
}
select {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family:  sans-serif;
    outline: 0;
    background: rgb(109, 109, 109);
    color: #fff;
    border: none;
    padding: 4px;
    border-radius: 9px;
  }

