body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  /* background-image: url('https://img.freepik.com/free-vector/illustration-data-analysis-graph_53876-18130.jpg?w=1380&t=st=1682416995~exp=1682417595~hmac=81342bceb9271b338d2367311119859b253ef129ceee4e233aa78f5dbecce8f9'); */
  -webkit-filter: blur(8px);
  filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}
input[type="submit"] {
  border: none;
  background-color: rgb(188, 188, 188);
  border-radius: 10px;
  height: 5rem;
  width: 10rem;
}

.formcontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 60%;
  width: 50%;
  background-color: rgba(224, 224, 224, 0.934);
  border-radius: 2%;
  background-color: rgba(219, 219, 219, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}


.formcontainer:hover {
  box-shadow: 1px 1px 5px rgb(74, 74, 74);
}

p {
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: black;
}

input[type="file"] {
  height: 5rem;
  margin: none;
  padding: 1rem;
}

label h2 {
  color: rgb(37, 69, 96);
  font-weight: 900;
  font-size: 20px;
  font-family: monospace;
  font-style: italic;
}
#btn {
  border: none;
  border-radius: 20px;

  background-color: rgb(0, 131, 237);
  color: white;
  padding: 4%;
  font-size: 15px;
  font-weight: 400;
}
